---
# Version of OpenMRS to deploy
omrs_version: 1.9.3
# Set mysql root password
mysqlrootpwd: password
# Set mysql username for openmrs
mysqluser: openmrs-poc_user
# Password for mysqluser
mysqlomrspwd: password
# Name of database
db_name: openmrs-poc
